<!DOCTYPE html>
<html>
<head>
	
<title>Page Title</title>
<script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#dialog" ).dialog({
    	autoOpen: false
    });
    $('.langs input').click(function(){
    	$('#dialog').dialog('open');
    	$('#dialog #site').load("profile.html");
    });
  } );
  </script>
</head>
<body>
<div id="app"> 

	<div class="langs" v-for='language in languages' >		
      	<input  type='checkbox' :value="language.name" v-model='language.selected' @click="langfocus = language">{{language.name}}
	</div>
	<br>
	
	<div id="dialog" title="Your Chosen Field">
		<input  type='checkbox' :value="langfocus.name" v-model='langfocus.selected'>{{langfocus.name}}
		<div id="site"></div>
	</div>
	<br>
	Languages Selected: 
    <span v-for="language in myLanguages"> {{language.name}} </span>
    
</div>	
	
<script>
	new Vue({
	    el: '#app',
	    data: {
	    	langfocus: false,
	        languages: [{
	            name: 'english',
	            selected: true
	        }, {
	            name: 'japanese',
	            selected: false
	        }, {
	            name: 'chinese',
	            selected: true
	        }]
	    },
	    computed: {
	        myLanguages () {
	            return this.languages.filter(language => language.selected)
	        }
	    }
	});
	
</script>

	
</body>
</html>